.container{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: #8DFEEE;
}
.form{
    margin: 50px 20px;

}
.water{
    margin-top: 20px;
}
.imc{
    margin-top: 20px;
}
.sleep{
    margin-top: 20px;
}