.button{
    cursor: pointer;
    margin-left:10px
}
p{
    margin-bottom: 0.1rem!important;
}

.dark{
    .button{
        background-color: #054095!important;
    }
   
} 

.lught{
    .button{
        background-color: #0365AB!important;
    }
   
}