*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.modal{
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .divTitulo{
   margin-bottom: 15px;
  }

  .titulo{
    font-size: 1.1rem;
    flex-wrap: nowrap;
    width: 250px;
    text-align: center;
}

.boxImc{
    width: 387px;
    height: auto;
    background-color: #3AE3CB;
    color: white;
    padding-bottom: 10px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: relative;
    padding-bottom: 25px;
}

.conteudoImc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.dflex{
    display: flex;
}

.textWater{
    width: 85px;
    padding-left: 8px solid white;
}

.bottleImg{
    margin-top: 8px;
    margin-right: 10px;
}

hr{
    border: 1px solid white;
    background-color: white;
}

.dark{
    .boxImc{
        background-color: #054095;
        }
}

.light{
    .boxImc{
        background-color: #0365AB!important;
        }
}

@media screen and (max-width: 1314px) {
    .boxImc{
        margin-bottom: 20px;
    }
  }