.form{
    display: grid;
}

input{
    width: 200px;
}

select{
    width: 200px;
}
//-------------------------------------------------------------------------------------------------------------------
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input, select {
    width: 200px;
    height: 40px;
    padding: 0;

    border: 1px solid #CDECE7;
    border-radius: 5px;
}

select{
    padding-left: 14px;
    color: #0EB39D;
}

select:focus{
    outline: none;
}

input::placeholder{
    color: #0EB39D;
    border: none;
}

input[type='text'], [type='number']{
    color: #0EB39D;
    padding-left: 18px;
}

input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.boxForm{
    display: flex;
    flex-direction: column;
    background-color: #3AE3CB;
    align-items: center;
    gap: 22px;

    width: 361px;
    height: 491px;

    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

.botao{
    width: 262px;
    background-color: #0EB39D;
    border: 1px solid #2DC1AE;
    font-weight: 700;
    font-size: 20px;
    color: #FFEDE6;

    border: 1px solid #2DC1AE;
    border-radius: 5px;
}

.botao:hover{
    border: 3px solid #2DC1AE;
}

.tituloFormulario{
    font-weight: 700;
    font-size: 30px;
    color: #FFEDE6;

    padding-top: 10px;
}

