.dflex{
    display: flex;
}

.titulo{
    font-size: 1.1rem;
    flex-wrap: nowrap;
}

.boxImc{
    width: 387px;
    height: 180px;
    background-color: #3AE3CB;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.dark{
    .boxImc{
        background-color: #2F2F2F!important;
    }
   
}