.iconeMoon, .iconeSun{
    width: 43px;
    height: 43px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border:none;
}

.dark{
    .iconeMoon{
        background-color:rgb(4, 4, 255);
    }
    .iconeSun{
        background-color:#2F2F2F;
    }
    .navbar{
        background-color: black;
    }
}

.light{
    .iconeMoon{
        background-color:#2F2F2F;
    }
    .iconeSun{
        background-color:rgb(4, 4, 255);
    }
}
